<h1>Table</h1>
<div class="divider"></div>

<p>Tables are by default transparent, responsive and got a 1px border on the bottom of each row.</p>

<table class="table">
    <tbody>
        <tr>
            <th>First Category</th>
            <th>Second Category</th>
            <th>Third Category</th>
        </tr>
        <tr>
            <td>First column</td>
            <td>Second column</td>
            <td>Third column</td>
        </tr>
        <tr>
            <td>First column</td>
            <td>Second column</td>
            <td>Third column</td>
        </tr>
    </tbody>
</table>

<pre><code [highlight]="normal">
    </code></pre>
<div class="divider"></div>
<p>By adding is-table or is-desktop to the table object, the table becomes a scrollable instead of responsive on the
    size under it. (is-tablet is scrollable on mobile).</p>

<h5>Tablet</h5>
<table class="table is-tablet">
    <tbody>
        <tr>
            <th>First Category</th>
            <th>Second Category</th>
            <th>Third Category</th>
        </tr>
        <tr>
            <td>First column</td>
            <td>Second column</td>
            <td>Third column</td>
        </tr>
        <tr>
            <td>First column</td>
            <td>Second column</td>
            <td>Third column</td>
        </tr>
    </tbody>
</table>
<h5>Desktop</h5>
<table class="table is-desktop">
    <tbody>
        <tr>
            <th>First Category</th>
            <th>Second Category</th>
            <th>Third Category</th>
        </tr>
        <tr>
            <td>First column</td>
            <td>Second column</td>
            <td>Third column</td>
        </tr>
        <tr>
            <td>First column</td>
            <td>Second column</td>
            <td>Third column</td>
        </tr>
    </tbody>
</table>
<pre><code [highlight]="responsive">
    </code></pre>
<div class="divider"></div>
<p>You can control the width of the columns in the table by adding is-# where # is a number between 1 and 12. on the
    items in the first row (usually th).</p>
<table class="table is-tablet">
    <tbody>
        <tr>
            <th class="is-6">is-6 (1/2)</th>
            <th>(automatic)</th>
            <th class="is-2">(is-2) (1/6)</th>
        </tr>
        <tr>
            <td>First column</td>
            <td>Second column</td>
            <td>Third column</td>
        </tr>
        <tr>
            <td>First column</td>
            <td>Second column</td>
            <td>Third column</td>
        </tr>
    </tbody>
</table>
<pre><code [highlight]="sizing">
        </code></pre>