<h1>Menu</h1>
<div class="divider"></div>
<div class="menu">
    <ul class="menu-items">
        <li class="menu-title">Basic</li>
        <li class="sub-items">
            <ul class="menu-items">
                <li class="menu-item"><a routerLink="basic/container" (click)="closeMenu()">Container</a></li>
                <li class="menu-item"><a routerLink="basic/columns" (click)="closeMenu()">Columns</a></li>
                <li class="menu-item"><a routerLink="basic/navigation" (click)="closeMenu()">Header</a></li>
                <li class="menu-item"><a routerLink="basic/text" (click)="closeMenu()">Text & typography</a></li>
            </ul>
        </li>
        <li class="menu-title">Components</li>
        <li class="sub-items">
            <ul class="menu-items">
                <li class="menu-item"><a routerLink="components/button" (click)="closeMenu()">Button</a></li>
                <li class="menu-item"><a routerLink="components/card" (click)="closeMenu()">Card</a></li>
                <li class="menu-item"><a routerLink="components/divider" (click)="closeMenu()">Divider</a></li>
                <li class="menu-item"><a routerLink="components/menu" (click)="closeMenu()">Menu</a></li>
                <li class="menu-item"><a routerLink="components/image" (click)="closeMenu()">Image</a></li>
                <li class="menu-item"><a routerLink="components/splash" (click)="closeMenu()">Splash</a></li>
                <li class="menu-item"><a routerLink="components/toggle" (click)="closeMenu()">Toggle</a></li>
                <li class="menu-item"><a routerLink="components/table" (click)="closeMenu()">Table</a></li>
            </ul>
        </li>
        <li class="menu-title">Form</li>
        <li class="sub-items">
            <ul class="menu-items">
                <li class="menu-item"><a routerLink="form/form" (click)="closeMenu()">Form</a></li>
                <li class="menu-item"><a routerLink="form/form-item" (click)="closeMenu()">Form-item</a></li>
                <li class="menu-item"><a routerLink="form/input" (click)="closeMenu()">Input</a></li>
            </ul>
        </li>
        <li class="menu-title">Modifiers</li>
        <li class="sub-items">
            <ul class="menu-items">
                <li class="menu-item"><a routerLink="modifiers/colors" (click)="closeMenu()">Colors</a></li>
                <li class="menu-item"><a routerLink="form/positioning" (click)="closeMenu()">Positioning</a></li>
                <li class="menu-item"><a routerLink="form/sizing" (click)="closeMenu()">Sizing</a></li>
            </ul>
        </li>
    </ul>
</div>