<h1>Card</h1>
<div class="divider"></div>
<div class="columns is-tablet">
    <div class="column">
        <p>A card is a container for pretty much any kind of content, that is divided
            into three different classes.
            The card-header and card-footer should
            only contain text, buttons or links, while the card-content can contain
            pretty much everything. It got a light border and some shading by default, but you can also style
            card-components with the color classes.</p>
    </div>
    <div class="column">
        <div class="card margin-1">
            <div class="card-header is">
                <h5>Card-header</h5>
            </div>
            <div class="card-content is">
                <p>You can put anything you want in card-content.</p>
            </div>
            <div class="card-footer is">
                <p>Footer text</p>
            </div>
        </div>
    </div>
</div>
<pre><code [highlight]="card">  
        </code></pre>
<div class="columns is-tablet">
    <div class="column">
        <p>By adding 'image' to the card and then a img
            directly into it, it becomes a card-image. You can still add card-content in form of anything you want.
        </p>
    </div>
    <div class="column">
        <div class="card image margin-1">
            <img src="../../assets/water.jpg">

            <div class="card-content">
                <h1>Wow!</h1>
                <p class="text-white">You can bascially put anything you want in card-content.</p>
            </div>

        </div>
    </div>
</div>
<pre><code [highlight]="imageCard">
        </code></pre>