<h1>Splash</h1>
<div class="divider"></div>
<p>a splash is a large color/image element that is meant to catch the users view instantly. It can contain most
    types of elements, and comes in
    four height (is-25/50/75/100) that takes up that amount of the page - your header-height.You should a
    container/flex-container inside of it if you wish to add something. If you dont set a size, it scales with your
    content. It is always 100% width. The content inside is centered vertically.
</p>
<div class="splash is-link is-50 gradient">
    <div class="container">
        <div class="content">
            <p class="quote font-size-1 center-text">Carpe diem</p>
        </div>
    </div>
</div>
<pre><code [highlight]="splash">
    </code></pre>