<h1>Form</h1>
<div class="divider"></div>
<p>a 'form is used alog on websites for user interaction. To have a consisent look and feel, the form should be
    popluated by 'form-items'.</p>

<div class="columns is-tablet">
    <div class="column is-5">
        <div class="card">
            <div class="card-header">
                <h6>Example form</h6>
            </div>
            <div class="card-content">
                <form>
                    <div class="form-item ">
                        <input type="text" class="" placeholder="E-mail">
                    </div>
                    <div class="form-item">
                        <button type="button" class="is-success">Submit!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="column is-7">
        <pre><code [highlight]="form">
            </code></pre>
    </div>
    <div class="column is-12">
        <p class="info">a basic form element with two form-items, inside a card.</p>
    </div>
</div>
<p>To see more how to style the individual form-items, visit to 'Form-item'</p>