<div class="container">
    <h1>Get started</h1>
    <div class="divider"></div>
    <h3>1. Download</h3>
    You can download and install Archipelago by using:

    <pre><code [highlight]="npm">
</code></pre>
    <p>or downloading it from the repo <a href="" class="text-success">here</a>.</p>
<h3>2. Referencing it in your project</h3>
<p>If you are using scss/sass/less etc. you can use: </p>
<pre><code [highlight]="import">
    </code></pre>
<p>Otherwise, reference it from your &lt;head>.</p>
<pre><code [highlight]="reference">
    </code></pre>
    <h3>3. Start using the classes</h3>
<p></p>
</div>