<h1>Input</h1>
<div class="divider"></div>
<p>Archipelago supports all kinds of input that includes some type of text.</p>

<div class="columns is-tablet">
    <div class="column">
        <form>
            <div class="form-item expand">
                <p class="add-on is-dark">
                    <fa-icon icon="pen" [fixedWidth]="true"></fa-icon>
                </p>
                <input type="text" class="expand" placeholder="text">
            </div>
            <div class="form-item expand">
                <p class="add-on is-dark">
                    <fa-icon icon="envelope" [fixedWidth]="true"></fa-icon>
                </p>
                <input type="email" class="expand" placeholder="email">
            </div>
            <div class="form-item expand">
                <p class="add-on is-dark">
                    <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                </p>
                <input type="password" class="expand" placeholder="password">
            </div>git remote add origin https://github.com/MrLundstrom/gitPage.git
        </form>
    </div>
    <div class="column">
        <form>
            <div class="form-item expand">
                <p class="add-on is-dark">
                    <fa-icon icon="infinity" [fixedWidth]="true"></fa-icon>
                </p>
                <input type="number" class="expand" placeholder="number">
            </div>
            <div class="form-item expand">
                <p class="add-on is-dark">
                    <fa-icon icon="calendar" [fixedWidth]="true"></fa-icon>
                </p>
                <input type="date" class="expand" placeholder="date">
            </div>
            <div class="form-item expand">
                <p class="add-on is-dark">
                    <fa-icon icon="search" [fixedWidth]="true"></fa-icon>
                </p>
                <input type="search" class="expand" placeholder="search">
            </div>
        </form>
    </div>
</div>
<p class="info">Here are some examples, all expanded and with add-ons.</p>
<div class="divider"></div>
<p>It also supports fileUpload, checkbox, radio and...</p>
<h3>Fileupload</h3>
<form>
    <div class="form-item expand">
        <p class="add-on is-dark">
            <fa-icon icon="file" [fixedWidth]="true"></fa-icon>
        </p>
        <div class="file-upload expand">
            <input type="file" id="file" />
            <label for="file">choose a file</label>
        </div>
    </div>
</form>
<pre><code [highlight]="file">
    </code></pre>
<div class="divider"></div>
<h3>Radio button</h3>
<form>
    <div class="form-item expand">
        <label class="radio expand">First radio
            <input type="radio" name="test">
            <span class="mark"></span>
        </label>
    </div>
    <div class="form-item">
        <label class="radio is-danger">Second radio
            <input type="radio" name="test">
            <span class="mark"></span>
        </label>
    </div>
</form>
<pre><code [highlight]="radio">
    </code></pre>
<div class="divider"></div>
<h3>Checkbox</h3>
<form>
    <div class="form-item">
        <label class="checkbox">First checkbox
            <input type="checkbox">
            <span class="mark"></span>
        </label>
    </div>
    <div class="form-item">
        <label class="checkbox is-warning">Second checkbox
            <input type="checkbox">
            <span class="mark"></span>
        </label>
    </div>
</form>

<pre><code [highlight]="check">
</code></pre>