<h1>Button</h1>
<div class="divider"></div>
<p>a button is an interactive component. It can be used as 'links'/'form-actions'/'actions' on a page (like toggle).
    a button can be used by itself, or together as a button-group or as buttons that are grouped.</p>


<button class="is-main">button</button>
<pre><code [highlight]="button">
            </code></pre>

<div class="button-group">
    <button class="button is-main">button</button>
    <button class="button is-main">button</button>
    <button class="button is-main">button</button>
</div>
<pre><code [highlight]="group">
                </code></pre>

<div class="buttons">
    <button class="button is-main">button</button>
    <button class="button is-main">button</button>
    <button class="button is-main">button</button>
</div>
<pre><code [highlight]="buttons">
        </code></pre>

<div class="divider is-light"></div>

<p>You can change the apperance of a button with color classes.</p>

<div class="buttons">
    <button class="button is-main">button</button>
    <button class="button is-secondary">button</button>
    <button class="button is-danger">button</button>
    <button class="button is-warning">button</button>
    <button class="button is-success">button</button>
    <button class="button is-link">button</button>
    <button class="button is-white">button</button>
    <button class="button is-light">button</button>
    <button class="button is-dark">button</button>
    <button class="button is-black">button</button>
</div>
<pre><code [highlight]="colors">
        </code></pre>
<p>It is also possible to change the regular size of a button by adding 'is-small' or 'is-large'.</p>
<div class="buttons">
        <button class="button is-main is-xl">XL</button>
        <button class="button is-main is-large">L</button>
        <button class="button is-main">M</button>
        <button class="button is-main is-small">S</button>
        <button class="button is-main is-xs">XS</button>
</div>
<pre><code [highlight]="size">
        </code></pre>

<p>You can also make a button or a button-group fill upp all available width by adding 'expand'.</p>
<div class="columns">
    <div class="column">
        <button class="is-main expand">button</button>
        <div class="button-group expand">
            <button class="button is-main">button</button>
            <button class="button is-main">button</button>
            <button class="button is-main">button</button>
        </div>
    </div>
</div>
<pre><code [highlight]="expand">
        </code></pre>