    <h1>Text & Typography</h1>
    <div class="divider"></div>
    <h3>Headers</h3>
    <p>
        Headers (&lt;h1> - &lt;h6>) use the
        font-family 'Quicksand, sans-serif’ and have
        font-sizes from
        1rem to 3rem, together with a font-weight of 500.
    </p>
    <div class="columns is-tablet margin-1 baseline">
        <div class="column center-text center">
            <h1>h1</h1>
        </div>
        <div class="column center-text center">
            <h2>h2</h2>
        </div>
        <div class="column center-text center">
            <h3>h3</h3>
        </div>
        <div class="column center-text center">
            <h4>h4</h4>
        </div>
        <div class="column center-text center">
            <h5>h5</h5>
        </div>
        <div class="column center-text center">
            <h6>h6</h6>
        </div>
    </div>
    <p class="info">All headers and their sizes.</p>
    <div class="divider"></div>
    <h3>Paragraphs</h3>
    <p>
        Paragraphs (&lt;p>) have a font-size of 1rem , 1.5 in line-spacing and uses the
        font-family 'Quicksand, sans-serif’ with 300 in font-weight.
    </p>
    <p> If you would like to use this font-family copy the link below into your website's &lt;head>
    </p>
    <pre><code [highlight]="font">
        </code></pre>
    <p>
        If you use one of the color classes, the color of the text is automatically set, but you can also add a text
        color by adding the text-color classes.

    </p>
    <p><span class="text-main">text-main</span>, <span class="text-danger">text-danger</span>, <span
            class="text-link">text-link</span> etc.</p>

    <pre><code [highlight]="color">
                </code></pre>
    <p class="quote center-text">There is also a possibility to create quotes</p>

    <pre><code [highlight]="quote">
        </code></pre>

    <p>Lastly, you can align your text to the left, center and right.</p>
    <p class="left-text">left</p>
    <p class="center-text">center</p>
    <p class="right-text">right</p>
    <pre><code [highlight]="align">
        </code></pre>