@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  min-height: 100vh;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
select,
a,
a:hover,
a:active,
a:focus,
a:visited {
  border: none;
  background-image: none;
  background-color: transparent;
  color: inherit;
  box-shadow: none;
  outline: none;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  position: relative;
}

.is-main {
  background-color: #452328 !important;
  color: #f9f9f9 !important;
  border-color: #67343c !important;
}
.is-main.gradient {
  background-image: linear-gradient(120deg, #452328, #67343c) !important;
}

.text-main {
  color: #452328 !important;
}

button.is-main:focus, button.is-main:hover {
  background-color: #67343c !important;
  color: #f9f9f9 !important;
}

input.is-main {
  color: #100100 !important;
  box-shadow: inset 0px 0px 0.125rem 0px rgba(69, 35, 40, 0.8) !important;
}
input.is-main:hover, input.is-main:focus {
  box-shadow: inset 0px 0px 0.125rem 1px #452328 !important;
  outline: none;
  cursor: pointer;
}

.is-secondary {
  background-color: #78866b !important;
  color: #f9f9f9 !important;
  border-color: #929e86 !important;
}
.is-secondary.gradient {
  background-image: linear-gradient(120deg, #78866b, #929e86) !important;
}

.text-secondary {
  color: #78866b !important;
}

button.is-secondary:focus, button.is-secondary:hover {
  background-color: #929e86 !important;
  color: #100100 !important;
}

input.is-secondary {
  color: #100100 !important;
  box-shadow: inset 0px 0px 0.125rem 0px rgba(120, 134, 107, 0.8) !important;
}
input.is-secondary:hover, input.is-secondary:focus {
  box-shadow: inset 0px 0px 0.125rem 1px #78866b !important;
  outline: none;
  cursor: pointer;
}

.is-link {
  background-color: #3159cd !important;
  color: #f9f9f9 !important;
  border-color: #5a7ad7 !important;
}
.is-link.gradient {
  background-image: linear-gradient(120deg, #3159cd, #5a7ad7) !important;
}

.text-link {
  color: #3159cd !important;
}

button.is-link:focus, button.is-link:hover {
  background-color: #5a7ad7 !important;
  color: #100100 !important;
}

input.is-link {
  color: #100100 !important;
  box-shadow: inset 0px 0px 0.125rem 0px rgba(49, 89, 205, 0.8) !important;
}
input.is-link:hover, input.is-link:focus {
  box-shadow: inset 0px 0px 0.125rem 1px #3159cd !important;
  outline: none;
  cursor: pointer;
}

.is-warning {
  background-color: #e8a411 !important;
  color: #f9f9f9 !important;
  border-color: #f1b73b !important;
}
.is-warning.gradient {
  background-image: linear-gradient(120deg, #e8a411, #f1b73b) !important;
}

.text-warning {
  color: #e8a411 !important;
}

button.is-warning:focus, button.is-warning:hover {
  background-color: #f1b73b !important;
  color: #100100 !important;
}

input.is-warning {
  color: #100100 !important;
  box-shadow: inset 0px 0px 0.125rem 0px rgba(232, 164, 17, 0.8) !important;
}
input.is-warning:hover, input.is-warning:focus {
  box-shadow: inset 0px 0px 0.125rem 1px #e8a411 !important;
  outline: none;
  cursor: pointer;
}

.is-danger {
  background-color: #cd3131 !important;
  color: #f9f9f9 !important;
  border-color: #d75a5a !important;
}
.is-danger.gradient {
  background-image: linear-gradient(120deg, #cd3131, #d75a5a) !important;
}

.text-danger {
  color: #cd3131 !important;
}

button.is-danger:focus, button.is-danger:hover {
  background-color: #d75a5a !important;
  color: #100100 !important;
}

input.is-danger {
  color: #100100 !important;
  box-shadow: inset 0px 0px 0.125rem 0px rgba(205, 49, 49, 0.8) !important;
}
input.is-danger:hover, input.is-danger:focus {
  box-shadow: inset 0px 0px 0.125rem 1px #cd3131 !important;
  outline: none;
  cursor: pointer;
}

.is-success {
  background-color: #43cd31 !important;
  color: #f9f9f9 !important;
  border-color: #68d75a !important;
}
.is-success.gradient {
  background-image: linear-gradient(120deg, #43cd31, #68d75a) !important;
}

.text-success {
  color: #43cd31 !important;
}

button.is-success:focus, button.is-success:hover {
  background-color: #68d75a !important;
  color: #100100 !important;
}

input.is-success {
  color: #100100 !important;
  box-shadow: inset 0px 0px 0.125rem 0px rgba(67, 205, 49, 0.8) !important;
}
input.is-success:hover, input.is-success:focus {
  box-shadow: inset 0px 0px 0.125rem 1px #43cd31 !important;
  outline: none;
  cursor: pointer;
}

.is-white {
  background-color: #fff !important;
  color: #100100 !important;
  border-color: #e6e6e6 !important;
}
.is-white.gradient {
  background-image: linear-gradient(120deg, #fff, #e6e6e6) !important;
}

.text-white {
  color: #fff !important;
}

button.is-white:focus, button.is-white:hover {
  background-color: #e6e6e6 !important;
  color: #100100 !important;
}

input.is-white {
  color: #100100 !important;
  box-shadow: inset 0px 0px 0.125rem 0px rgba(255, 255, 255, 0.8) !important;
}
input.is-white:hover, input.is-white:focus {
  box-shadow: inset 0px 0px 0.125rem 1px #fff !important;
  outline: none;
  cursor: pointer;
}

.is-black {
  background-color: #000 !important;
  color: #f9f9f9 !important;
  border-color: #1a1a1a !important;
}
.is-black.gradient {
  background-image: linear-gradient(120deg, #000, #1a1a1a) !important;
}

.text-black {
  color: #000 !important;
}

button.is-black:focus, button.is-black:hover {
  background-color: #1a1a1a !important;
  color: #f9f9f9 !important;
}

input.is-black {
  color: #100100 !important;
  box-shadow: inset 0px 0px 0.125rem 0px rgba(0, 0, 0, 0.8) !important;
}
input.is-black:hover, input.is-black:focus {
  box-shadow: inset 0px 0px 0.125rem 1px #000 !important;
  outline: none;
  cursor: pointer;
}

.is-light {
  background-color: #f3efe3 !important;
  color: #100100 !important;
  border-color: #e4dbbf !important;
}
.is-light.gradient {
  background-image: linear-gradient(120deg, #f3efe3, #e4dbbf) !important;
}

.text-light {
  color: #f3efe3 !important;
}

button.is-light:focus, button.is-light:hover {
  background-color: #e4dbbf !important;
  color: #100100 !important;
}

input.is-light {
  color: #100100 !important;
  box-shadow: inset 0px 0px 0.125rem 0px rgba(243, 239, 227, 0.8) !important;
}
input.is-light:hover, input.is-light:focus {
  box-shadow: inset 0px 0px 0.125rem 1px #f3efe3 !important;
  outline: none;
  cursor: pointer;
}

.is-dark {
  background-color: #3f3c41 !important;
  color: #f9f9f9 !important;
  border-color: #59545c !important;
}
.is-dark.gradient {
  background-image: linear-gradient(120deg, #3f3c41, #59545c) !important;
}

.text-dark {
  color: #3f3c41 !important;
}

button.is-dark:focus, button.is-dark:hover {
  background-color: #59545c !important;
  color: #f9f9f9 !important;
}

input.is-dark {
  color: #100100 !important;
  box-shadow: inset 0px 0px 0.125rem 0px rgba(63, 60, 65, 0.8) !important;
}
input.is-dark:hover, input.is-dark:focus {
  box-shadow: inset 0px 0px 0.125rem 1px #3f3c41 !important;
  outline: none;
  cursor: pointer;
}

.container,
.flex-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
  padding: 0.375rem;
}

.container {
  max-width: 960px;
}

.columns,
.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.columns.is-mobile {
  flex-direction: row !important;
  flex-wrap: wrap;
  align-items: flex-start;
}
.columns.is-mobile.baseline {
  align-items: baseline;
}
.columns.is-mobile.same-height {
  align-items: stretch;
}
.columns.is-mobile > .column.is-1 {
  flex: none !important;
  width: 8.3333333333%;
}
.columns.is-mobile > .column.is-offset-11 {
  margin-left: 91.6666666667%;
}
.columns.is-mobile > .column.is-offset-10 {
  margin-left: 83.3333333333%;
}
.columns.is-mobile > .column.is-offset-9 {
  margin-left: 75%;
}
.columns.is-mobile > .column.is-offset-8 {
  margin-left: 66.6666666667%;
}
.columns.is-mobile > .column.is-offset-7 {
  margin-left: 58.3333333333%;
}
.columns.is-mobile > .column.is-offset-6 {
  margin-left: 50%;
}
.columns.is-mobile > .column.is-offset-5 {
  margin-left: 41.6666666667%;
}
.columns.is-mobile > .column.is-offset-4 {
  margin-left: 33.3333333333%;
}
.columns.is-mobile > .column.is-offset-3 {
  margin-left: 25%;
}
.columns.is-mobile > .column.is-offset-2 {
  margin-left: 16.6666666667%;
}
.columns.is-mobile > .column.is-offset-1 {
  margin-left: 8.3333333333%;
}
.columns.is-mobile > .column.is-2 {
  flex: none !important;
  width: 16.6666666667%;
}
.columns.is-mobile > .column.is-offset-10 {
  margin-left: 83.3333333333%;
}
.columns.is-mobile > .column.is-offset-9 {
  margin-left: 75%;
}
.columns.is-mobile > .column.is-offset-8 {
  margin-left: 66.6666666667%;
}
.columns.is-mobile > .column.is-offset-7 {
  margin-left: 58.3333333333%;
}
.columns.is-mobile > .column.is-offset-6 {
  margin-left: 50%;
}
.columns.is-mobile > .column.is-offset-5 {
  margin-left: 41.6666666667%;
}
.columns.is-mobile > .column.is-offset-4 {
  margin-left: 33.3333333333%;
}
.columns.is-mobile > .column.is-offset-3 {
  margin-left: 25%;
}
.columns.is-mobile > .column.is-offset-2 {
  margin-left: 16.6666666667%;
}
.columns.is-mobile > .column.is-offset-1 {
  margin-left: 8.3333333333%;
}
.columns.is-mobile > .column.is-3 {
  flex: none !important;
  width: 25%;
}
.columns.is-mobile > .column.is-offset-9 {
  margin-left: 75%;
}
.columns.is-mobile > .column.is-offset-8 {
  margin-left: 66.6666666667%;
}
.columns.is-mobile > .column.is-offset-7 {
  margin-left: 58.3333333333%;
}
.columns.is-mobile > .column.is-offset-6 {
  margin-left: 50%;
}
.columns.is-mobile > .column.is-offset-5 {
  margin-left: 41.6666666667%;
}
.columns.is-mobile > .column.is-offset-4 {
  margin-left: 33.3333333333%;
}
.columns.is-mobile > .column.is-offset-3 {
  margin-left: 25%;
}
.columns.is-mobile > .column.is-offset-2 {
  margin-left: 16.6666666667%;
}
.columns.is-mobile > .column.is-offset-1 {
  margin-left: 8.3333333333%;
}
.columns.is-mobile > .column.is-4 {
  flex: none !important;
  width: 33.3333333333%;
}
.columns.is-mobile > .column.is-offset-8 {
  margin-left: 66.6666666667%;
}
.columns.is-mobile > .column.is-offset-7 {
  margin-left: 58.3333333333%;
}
.columns.is-mobile > .column.is-offset-6 {
  margin-left: 50%;
}
.columns.is-mobile > .column.is-offset-5 {
  margin-left: 41.6666666667%;
}
.columns.is-mobile > .column.is-offset-4 {
  margin-left: 33.3333333333%;
}
.columns.is-mobile > .column.is-offset-3 {
  margin-left: 25%;
}
.columns.is-mobile > .column.is-offset-2 {
  margin-left: 16.6666666667%;
}
.columns.is-mobile > .column.is-offset-1 {
  margin-left: 8.3333333333%;
}
.columns.is-mobile > .column.is-5 {
  flex: none !important;
  width: 41.6666666667%;
}
.columns.is-mobile > .column.is-offset-7 {
  margin-left: 58.3333333333%;
}
.columns.is-mobile > .column.is-offset-6 {
  margin-left: 50%;
}
.columns.is-mobile > .column.is-offset-5 {
  margin-left: 41.6666666667%;
}
.columns.is-mobile > .column.is-offset-4 {
  margin-left: 33.3333333333%;
}
.columns.is-mobile > .column.is-offset-3 {
  margin-left: 25%;
}
.columns.is-mobile > .column.is-offset-2 {
  margin-left: 16.6666666667%;
}
.columns.is-mobile > .column.is-offset-1 {
  margin-left: 8.3333333333%;
}
.columns.is-mobile > .column.is-6 {
  flex: none !important;
  width: 50%;
}
.columns.is-mobile > .column.is-offset-6 {
  margin-left: 50%;
}
.columns.is-mobile > .column.is-offset-5 {
  margin-left: 41.6666666667%;
}
.columns.is-mobile > .column.is-offset-4 {
  margin-left: 33.3333333333%;
}
.columns.is-mobile > .column.is-offset-3 {
  margin-left: 25%;
}
.columns.is-mobile > .column.is-offset-2 {
  margin-left: 16.6666666667%;
}
.columns.is-mobile > .column.is-offset-1 {
  margin-left: 8.3333333333%;
}
.columns.is-mobile > .column.is-7 {
  flex: none !important;
  width: 58.3333333333%;
}
.columns.is-mobile > .column.is-offset-5 {
  margin-left: 41.6666666667%;
}
.columns.is-mobile > .column.is-offset-4 {
  margin-left: 33.3333333333%;
}
.columns.is-mobile > .column.is-offset-3 {
  margin-left: 25%;
}
.columns.is-mobile > .column.is-offset-2 {
  margin-left: 16.6666666667%;
}
.columns.is-mobile > .column.is-offset-1 {
  margin-left: 8.3333333333%;
}
.columns.is-mobile > .column.is-8 {
  flex: none !important;
  width: 66.6666666667%;
}
.columns.is-mobile > .column.is-offset-4 {
  margin-left: 33.3333333333%;
}
.columns.is-mobile > .column.is-offset-3 {
  margin-left: 25%;
}
.columns.is-mobile > .column.is-offset-2 {
  margin-left: 16.6666666667%;
}
.columns.is-mobile > .column.is-offset-1 {
  margin-left: 8.3333333333%;
}
.columns.is-mobile > .column.is-9 {
  flex: none !important;
  width: 75%;
}
.columns.is-mobile > .column.is-offset-3 {
  margin-left: 25%;
}
.columns.is-mobile > .column.is-offset-2 {
  margin-left: 16.6666666667%;
}
.columns.is-mobile > .column.is-offset-1 {
  margin-left: 8.3333333333%;
}
.columns.is-mobile > .column.is-10 {
  flex: none !important;
  width: 83.3333333333%;
}
.columns.is-mobile > .column.is-offset-2 {
  margin-left: 16.6666666667%;
}
.columns.is-mobile > .column.is-offset-1 {
  margin-left: 8.3333333333%;
}
.columns.is-mobile > .column.is-11 {
  flex: none !important;
  width: 91.6666666667%;
}
.columns.is-mobile > .column.is-offset-1 {
  margin-left: 8.3333333333%;
}
.columns.is-mobile > .column.is-12 {
  flex: none !important;
  width: 100%;
}
.columns.is-mobile > .column.is-offset-0 {
  margin-left: 0%;
}
.columns.is-mobile > .column.is-offset-1 {
  margin-left: 8.3333333333%;
}

@media screen and (min-width: 768px) {
  .columns.is-tablet {
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .columns.is-tablet.baseline {
    align-items: baseline;
  }
  .columns.is-tablet.same-height {
    align-items: stretch;
  }
  .columns.is-tablet > .column.is-1 {
    flex: none !important;
    width: 8.3333333333%;
  }
  .columns.is-tablet > .column.is-offset-11 {
    margin-left: 91.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-10 {
    margin-left: 83.3333333333%;
  }
  .columns.is-tablet > .column.is-offset-9 {
    margin-left: 75%;
  }
  .columns.is-tablet > .column.is-offset-8 {
    margin-left: 66.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-7 {
    margin-left: 58.3333333333%;
  }
  .columns.is-tablet > .column.is-offset-6 {
    margin-left: 50%;
  }
  .columns.is-tablet > .column.is-offset-5 {
    margin-left: 41.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-4 {
    margin-left: 33.3333333333%;
  }
  .columns.is-tablet > .column.is-offset-3 {
    margin-left: 25%;
  }
  .columns.is-tablet > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns.is-tablet > .column.is-2 {
    flex: none !important;
    width: 16.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-10 {
    margin-left: 83.3333333333%;
  }
  .columns.is-tablet > .column.is-offset-9 {
    margin-left: 75%;
  }
  .columns.is-tablet > .column.is-offset-8 {
    margin-left: 66.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-7 {
    margin-left: 58.3333333333%;
  }
  .columns.is-tablet > .column.is-offset-6 {
    margin-left: 50%;
  }
  .columns.is-tablet > .column.is-offset-5 {
    margin-left: 41.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-4 {
    margin-left: 33.3333333333%;
  }
  .columns.is-tablet > .column.is-offset-3 {
    margin-left: 25%;
  }
  .columns.is-tablet > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns.is-tablet > .column.is-3 {
    flex: none !important;
    width: 25%;
  }
  .columns.is-tablet > .column.is-offset-9 {
    margin-left: 75%;
  }
  .columns.is-tablet > .column.is-offset-8 {
    margin-left: 66.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-7 {
    margin-left: 58.3333333333%;
  }
  .columns.is-tablet > .column.is-offset-6 {
    margin-left: 50%;
  }
  .columns.is-tablet > .column.is-offset-5 {
    margin-left: 41.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-4 {
    margin-left: 33.3333333333%;
  }
  .columns.is-tablet > .column.is-offset-3 {
    margin-left: 25%;
  }
  .columns.is-tablet > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns.is-tablet > .column.is-4 {
    flex: none !important;
    width: 33.3333333333%;
  }
  .columns.is-tablet > .column.is-offset-8 {
    margin-left: 66.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-7 {
    margin-left: 58.3333333333%;
  }
  .columns.is-tablet > .column.is-offset-6 {
    margin-left: 50%;
  }
  .columns.is-tablet > .column.is-offset-5 {
    margin-left: 41.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-4 {
    margin-left: 33.3333333333%;
  }
  .columns.is-tablet > .column.is-offset-3 {
    margin-left: 25%;
  }
  .columns.is-tablet > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns.is-tablet > .column.is-5 {
    flex: none !important;
    width: 41.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-7 {
    margin-left: 58.3333333333%;
  }
  .columns.is-tablet > .column.is-offset-6 {
    margin-left: 50%;
  }
  .columns.is-tablet > .column.is-offset-5 {
    margin-left: 41.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-4 {
    margin-left: 33.3333333333%;
  }
  .columns.is-tablet > .column.is-offset-3 {
    margin-left: 25%;
  }
  .columns.is-tablet > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns.is-tablet > .column.is-6 {
    flex: none !important;
    width: 50%;
  }
  .columns.is-tablet > .column.is-offset-6 {
    margin-left: 50%;
  }
  .columns.is-tablet > .column.is-offset-5 {
    margin-left: 41.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-4 {
    margin-left: 33.3333333333%;
  }
  .columns.is-tablet > .column.is-offset-3 {
    margin-left: 25%;
  }
  .columns.is-tablet > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns.is-tablet > .column.is-7 {
    flex: none !important;
    width: 58.3333333333%;
  }
  .columns.is-tablet > .column.is-offset-5 {
    margin-left: 41.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-4 {
    margin-left: 33.3333333333%;
  }
  .columns.is-tablet > .column.is-offset-3 {
    margin-left: 25%;
  }
  .columns.is-tablet > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns.is-tablet > .column.is-8 {
    flex: none !important;
    width: 66.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-4 {
    margin-left: 33.3333333333%;
  }
  .columns.is-tablet > .column.is-offset-3 {
    margin-left: 25%;
  }
  .columns.is-tablet > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns.is-tablet > .column.is-9 {
    flex: none !important;
    width: 75%;
  }
  .columns.is-tablet > .column.is-offset-3 {
    margin-left: 25%;
  }
  .columns.is-tablet > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns.is-tablet > .column.is-10 {
    flex: none !important;
    width: 83.3333333333%;
  }
  .columns.is-tablet > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns.is-tablet > .column.is-11 {
    flex: none !important;
    width: 91.6666666667%;
  }
  .columns.is-tablet > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns.is-tablet > .column.is-12 {
    flex: none !important;
    width: 100%;
  }
  .columns.is-tablet > .column.is-offset-0 {
    margin-left: 0%;
  }
  .columns.is-tablet > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
}
@media screen and (min-width: 1024px) {
  .columns {
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .columns.baseline {
    align-items: baseline;
  }
  .columns.same-height {
    align-items: stretch;
  }
  .columns > .column.is-1 {
    flex: none !important;
    width: 8.3333333333%;
  }
  .columns > .column.is-offset-11 {
    margin-left: 91.6666666667%;
  }
  .columns > .column.is-offset-10 {
    margin-left: 83.3333333333%;
  }
  .columns > .column.is-offset-9 {
    margin-left: 75%;
  }
  .columns > .column.is-offset-8 {
    margin-left: 66.6666666667%;
  }
  .columns > .column.is-offset-7 {
    margin-left: 58.3333333333%;
  }
  .columns > .column.is-offset-6 {
    margin-left: 50%;
  }
  .columns > .column.is-offset-5 {
    margin-left: 41.6666666667%;
  }
  .columns > .column.is-offset-4 {
    margin-left: 33.3333333333%;
  }
  .columns > .column.is-offset-3 {
    margin-left: 25%;
  }
  .columns > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns > .column.is-2 {
    flex: none !important;
    width: 16.6666666667%;
  }
  .columns > .column.is-offset-10 {
    margin-left: 83.3333333333%;
  }
  .columns > .column.is-offset-9 {
    margin-left: 75%;
  }
  .columns > .column.is-offset-8 {
    margin-left: 66.6666666667%;
  }
  .columns > .column.is-offset-7 {
    margin-left: 58.3333333333%;
  }
  .columns > .column.is-offset-6 {
    margin-left: 50%;
  }
  .columns > .column.is-offset-5 {
    margin-left: 41.6666666667%;
  }
  .columns > .column.is-offset-4 {
    margin-left: 33.3333333333%;
  }
  .columns > .column.is-offset-3 {
    margin-left: 25%;
  }
  .columns > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns > .column.is-3 {
    flex: none !important;
    width: 25%;
  }
  .columns > .column.is-offset-9 {
    margin-left: 75%;
  }
  .columns > .column.is-offset-8 {
    margin-left: 66.6666666667%;
  }
  .columns > .column.is-offset-7 {
    margin-left: 58.3333333333%;
  }
  .columns > .column.is-offset-6 {
    margin-left: 50%;
  }
  .columns > .column.is-offset-5 {
    margin-left: 41.6666666667%;
  }
  .columns > .column.is-offset-4 {
    margin-left: 33.3333333333%;
  }
  .columns > .column.is-offset-3 {
    margin-left: 25%;
  }
  .columns > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns > .column.is-4 {
    flex: none !important;
    width: 33.3333333333%;
  }
  .columns > .column.is-offset-8 {
    margin-left: 66.6666666667%;
  }
  .columns > .column.is-offset-7 {
    margin-left: 58.3333333333%;
  }
  .columns > .column.is-offset-6 {
    margin-left: 50%;
  }
  .columns > .column.is-offset-5 {
    margin-left: 41.6666666667%;
  }
  .columns > .column.is-offset-4 {
    margin-left: 33.3333333333%;
  }
  .columns > .column.is-offset-3 {
    margin-left: 25%;
  }
  .columns > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns > .column.is-5 {
    flex: none !important;
    width: 41.6666666667%;
  }
  .columns > .column.is-offset-7 {
    margin-left: 58.3333333333%;
  }
  .columns > .column.is-offset-6 {
    margin-left: 50%;
  }
  .columns > .column.is-offset-5 {
    margin-left: 41.6666666667%;
  }
  .columns > .column.is-offset-4 {
    margin-left: 33.3333333333%;
  }
  .columns > .column.is-offset-3 {
    margin-left: 25%;
  }
  .columns > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns > .column.is-6 {
    flex: none !important;
    width: 50%;
  }
  .columns > .column.is-offset-6 {
    margin-left: 50%;
  }
  .columns > .column.is-offset-5 {
    margin-left: 41.6666666667%;
  }
  .columns > .column.is-offset-4 {
    margin-left: 33.3333333333%;
  }
  .columns > .column.is-offset-3 {
    margin-left: 25%;
  }
  .columns > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns > .column.is-7 {
    flex: none !important;
    width: 58.3333333333%;
  }
  .columns > .column.is-offset-5 {
    margin-left: 41.6666666667%;
  }
  .columns > .column.is-offset-4 {
    margin-left: 33.3333333333%;
  }
  .columns > .column.is-offset-3 {
    margin-left: 25%;
  }
  .columns > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns > .column.is-8 {
    flex: none !important;
    width: 66.6666666667%;
  }
  .columns > .column.is-offset-4 {
    margin-left: 33.3333333333%;
  }
  .columns > .column.is-offset-3 {
    margin-left: 25%;
  }
  .columns > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns > .column.is-9 {
    flex: none !important;
    width: 75%;
  }
  .columns > .column.is-offset-3 {
    margin-left: 25%;
  }
  .columns > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns > .column.is-10 {
    flex: none !important;
    width: 83.3333333333%;
  }
  .columns > .column.is-offset-2 {
    margin-left: 16.6666666667%;
  }
  .columns > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns > .column.is-11 {
    flex: none !important;
    width: 91.6666666667%;
  }
  .columns > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
  .columns > .column.is-12 {
    flex: none !important;
    width: 100%;
  }
  .columns > .column.is-offset-0 {
    margin-left: 0%;
  }
  .columns > .column.is-offset-1 {
    margin-left: 8.3333333333%;
  }
}
h1 {
  font-size: 3rem;
}

.font-size-1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

.font-size-2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

.font-size-3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

.font-size-4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

.font-size-5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1rem;
}

.font-size-6 {
  font-size: 1rem;
}

* {
  font-family: "Quicksand", sans-serif !important;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  margin: 0.75rem 0.375rem 0;
}

p {
  margin: 0.75rem 0.375rem 0;
  line-height: 1.5;
}
p.quote::before {
  content: "“";
  font-size: 120%;
}
p.quote::after {
  content: "”";
  font-size: 120%;
}

.left-text {
  text-align: start;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: end;
}

.padding-0 {
  padding: 0rem;
}

.margin-0 {
  margin: 0rem 0rem 0;
}

.padding-1 {
  padding: 0.375rem;
}

.margin-1 {
  margin: 0.75rem 0.375rem 0;
}

.padding-2 {
  padding: 0.75rem;
}

.margin-2 {
  margin: 1.5rem 0.75rem 0;
}

.padding-3 {
  padding: 1.125rem;
}

.margin-3 {
  margin: 2.25rem 1.125rem 0;
}

.padding-4 {
  padding: 1.5rem;
}

.margin-4 {
  margin: 3rem 1.5rem 0;
}

.padding-5 {
  padding: 1.875rem;
}

.margin-5 {
  margin: 3.75rem 1.875rem 0;
}

.padding-6 {
  padding: 2.25rem;
}

.margin-6 {
  margin: 4.5rem 2.25rem 0;
}

.padding-7 {
  padding: 2.625rem;
}

.margin-7 {
  margin: 5.25rem 2.625rem 0;
}

.padding-8 {
  padding: 3rem;
}

.margin-8 {
  margin: 6rem 3rem 0;
}

.move-left {
  justify-content: flex-start;
  display: flex;
}

.move-center {
  justify-content: center;
  display: flex;
}

.move-right {
  justify-content: flex-end;
  display: flex;
}

.move-spread {
  justify-content: space-between;
}

.is-sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

.got-fixed-header .is-sticky {
  top: 3rem;
  z-index: 2;
}

.got-fixed-header {
  top: 3rem;
  min-height: calc(100vh - 3rem);
}

.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3 !important;
  width: 100%;
}

.expand {
  align-self: stretch !important;
  align-content: stretch !important;
  flex: 1 !important;
}

.hide {
  display: none;
}
.hide.tablet, .hideis-desktop {
  display: flex;
}

.toggle {
  display: none;
  flex-direction: column;
  flex: 1;
}
.toggle.is-active {
  display: flex !important;
}
.toggle.is-reverse {
  display: none;
}
.toggle.is-reverse.is-tablet, .toggle.is-reverse.is-desktop {
  display: flex;
}

@media screen and (min-width: 768px) {
  .hide {
    display: flex;
  }
  .hide.tablet {
    display: none !important;
  }

  .toggle.is-tablet {
    display: flex;
  }
  .toggle.is-reverse {
    display: none;
  }
  .toggle.is-reverse.is-desktop {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .hide {
    display: flex;
  }
  .hide.desktop {
    display: none !important;
  }

  .toggle.is-desktop {
    display: flex;
  }
  .toggle.is-reverse {
    display: none;
  }
}
.header {
  background-color: #452328;
  color: #f9f9f9;
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 3rem;
  box-shadow: 0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.header .header-menu {
  display: none;
}
.header .header-menu .header-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.header .container,
.header .flex-container {
  flex-direction: row;
  padding: 0;
}
.header .header-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: inherit;
  margin: 0;
  line-height: 1;
}
.header .header-item p {
  margin: 0;
  line-height: 1;
}
.header > .header-dropdown {
  overflow: hidden;
}
.header > .header-dropdown .header-item p {
  padding: none;
  line-height: 1;
}
.header > .header-dropdown:hover, .header > .header-dropdown:focus, .header > .header-dropdown:active,
.header > .header-dropdown .dropdown:hover {
  overflow: visible;
}
.header > .header-dropdown .dropdown {
  box-shadow: 0 0.1875rem 0.375rem 0px rgba(0, 0, 0, 0.2);
}
.header > .header-dropdown .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  width: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  color: #100100;
}
.header > .header-dropdown .dropdown .header-item {
  justify-content: flex-start;
  height: auto;
}
.header .header-item {
  padding: 0.75rem;
  z-index: 2;
}
.header .header-toggle {
  padding: 1.125rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header .header-toggle .line {
  height: 0px;
  width: 100%;
  border: 0.5px solid;
  transition: transform 0.075s, visibility 0.05s;
  transform-origin: center left;
}
.header .header-toggle.is-active .line {
  width: 137.3%;
}
.header .header-toggle.is-active :nth-child(1) {
  transform: rotate(45deg);
}
.header .header-toggle.is-active :nth-child(2) {
  visibility: hidden;
}
.header .header-toggle.is-active :nth-child(3) {
  transform: rotate(-45deg);
}
.header a:hover, .header a:focus, .header a:active {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.header.is-active .header-menu {
  width: 100%;
  left: 0;
  top: 3rem;
  display: inline-block;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  color: #100100;
  box-shadow: 0 0.1875rem 0.375rem 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header.is-active .header-menu .header-item,
.header.is-active .header-menu .dropdown {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .header .header-toggle,
.header.is-active .header-toggle {
    display: none;
  }
  .header .header-menu,
.header.is-active .header-menu {
    box-shadow: none;
    position: static;
    background-color: transparent;
    color: inherit;
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  .header .header-menu .header-item,
.header.is-active .header-menu .header-item {
    width: auto;
    height: 100%;
  }
  .header .header-dropdown,
.header.is-active .header-dropdown {
    overflow: hidden;
  }
  .header .header-dropdown:hover, .header .header-dropdown:focus,
.header .header-dropdown .dropdown:hover,
.header.is-active .header-dropdown:hover,
.header.is-active .header-dropdown:focus,
.header.is-active .header-dropdown .dropdown:hover {
    overflow: visible;
  }
  .header .header-dropdown:hover .dropdown, .header .header-dropdown:focus .dropdown,
.header .header-dropdown .dropdown:hover .dropdown,
.header.is-active .header-dropdown:hover .dropdown,
.header.is-active .header-dropdown:focus .dropdown,
.header.is-active .header-dropdown .dropdown:hover .dropdown {
    box-shadow: 0 0.1875rem 0.375rem 0px rgba(0, 0, 0, 0.2);
  }
  .header .header-dropdown .dropdown,
.header.is-active .header-dropdown .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    width: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    color: #100100;
  }
  .header .header-dropdown .dropdown .header-item,
.header.is-active .header-dropdown .dropdown .header-item {
    justify-content: flex-start;
    height: auto;
  }
}
.card {
  margin: 0.75rem 0.375rem 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 0.375rem;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0.1875rem 0.25rem 0px rgba(201, 148, 148, 0.2);
}
.card > :first-child:last-child {
  border-radius: 0.375rem;
}
.card:not(.image) > :first-child:not(:last-child),
.card:not(.image) > :last-child:not(:last-child) {
  border-radius: 0.375rem 0.375rem 0 0 !important;
}
.card:not(.image) > :first-child:not(:first-child),
.card:not(.image) > :last-child:not(:first-child) {
  border-radius: 0 0 0.375rem 0.375rem !important;
}
.card:not(.image) > :not(:first-child):not(:last-child) {
  border-radius: 0;
}
.card .card-header {
  flex: none !important;
  padding: 0 0.375rem 0.75rem;
  border-bottom: 1px solid #e0e0e0;
}
.card .card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 0.375rem 0.75rem;
}
.card .card-footer {
  flex: none !important;
  margin-top: auto;
  padding: 0 0.375rem 0.75rem;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}
.card.image img {
  border-radius: 0.375rem !important;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
}

.header {
  background-color: #452328;
  color: #f9f9f9;
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 3rem;
  box-shadow: 0 0.1875rem 0.375rem 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.header .header-menu {
  display: none;
}
.header .header-menu .header-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.header .container,
.header .flex-container {
  flex-direction: row;
  padding: 0;
}
.header .header-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: inherit;
  margin: 0;
  line-height: 1;
}
.header .header-item p {
  margin: 0;
  line-height: 1;
}
.header > .header-dropdown {
  overflow: hidden;
}
.header > .header-dropdown .header-item p {
  padding: none;
  line-height: 1;
}
.header > .header-dropdown:hover, .header > .header-dropdown:focus, .header > .header-dropdown:active,
.header > .header-dropdown .dropdown:hover {
  overflow: visible;
}
.header > .header-dropdown .dropdown {
  box-shadow: 0 0.1875rem 0.375rem 0px rgba(0, 0, 0, 0.2);
}
.header > .header-dropdown .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  width: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  color: #100100;
}
.header > .header-dropdown .dropdown .header-item {
  justify-content: flex-start;
  height: auto;
}
.header .header-item {
  padding: 0.75rem;
  z-index: 2;
}
.header .header-toggle {
  padding: 1.125rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header .header-toggle .line {
  height: 0px;
  width: 100%;
  border: 0.5px solid;
  transition: transform 0.075s, visibility 0.05s;
  transform-origin: center left;
}
.header .header-toggle.is-active .line {
  width: 137.3%;
}
.header .header-toggle.is-active :nth-child(1) {
  transform: rotate(45deg);
}
.header .header-toggle.is-active :nth-child(2) {
  visibility: hidden;
}
.header .header-toggle.is-active :nth-child(3) {
  transform: rotate(-45deg);
}
.header a:hover, .header a:focus, .header a:active {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.header.is-active .header-menu {
  width: 100%;
  left: 0;
  top: 3rem;
  display: inline-block;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  color: #100100;
  box-shadow: 0 0.1875rem 0.375rem 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.header.is-active .header-menu .header-item,
.header.is-active .header-menu .dropdown {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .header .header-toggle,
.header.is-active .header-toggle {
    display: none;
  }
  .header .header-menu,
.header.is-active .header-menu {
    box-shadow: none;
    position: static;
    background-color: transparent;
    color: inherit;
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  .header .header-menu .header-item,
.header.is-active .header-menu .header-item {
    width: auto;
    height: 100%;
  }
  .header .header-dropdown,
.header.is-active .header-dropdown {
    overflow: hidden;
  }
  .header .header-dropdown:hover, .header .header-dropdown:focus,
.header .header-dropdown .dropdown:hover,
.header.is-active .header-dropdown:hover,
.header.is-active .header-dropdown:focus,
.header.is-active .header-dropdown .dropdown:hover {
    overflow: visible;
  }
  .header .header-dropdown:hover .dropdown, .header .header-dropdown:focus .dropdown,
.header .header-dropdown .dropdown:hover .dropdown,
.header.is-active .header-dropdown:hover .dropdown,
.header.is-active .header-dropdown:focus .dropdown,
.header.is-active .header-dropdown .dropdown:hover .dropdown {
    box-shadow: 0 0.1875rem 0.375rem 0px rgba(0, 0, 0, 0.2);
  }
  .header .header-dropdown .dropdown,
.header.is-active .header-dropdown .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    width: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    color: #100100;
  }
  .header .header-dropdown .dropdown .header-item,
.header.is-active .header-dropdown .dropdown .header-item {
    justify-content: flex-start;
    height: auto;
  }
}
.splash {
  display: flex;
  width: 100%;
  box-shadow: inset 0px 0px 0.1875rem 0px rgba(0, 0, 0, 0.5);
}
.splash .container,
.splash .flex-container {
  justify-content: center;
}
.splash .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}
.splash.image {
  margin: 0;
}
.splash.image > img {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  opacity: 0.9;
}
.splash.is-25 {
  min-height: calc(25vh - 3rem);
}
.splash.is-50 {
  min-height: calc(50vh - 3rem);
}
.splash.is-75 {
  min-height: calc(75vh - 3rem);
}
.splash.is-100 {
  min-height: calc(100vh - 3rem);
}

.divider {
  display: flex;
  height: 1px;
  background-color: #f3efe3;
  margin: 0.75rem 0.375rem 0;
  border-color: inherit;
  border-style: solid;
}

button {
  margin: 0.75rem 0.375rem 0;
  appearance: none;
  display: block;
  align-self: flex-start;
  flex: 0;
  border-radius: 0.25rem;
  padding: 0.5rem;
  outline: none !important;
  justify-content: center;
  border: none;
}
button.is-xs {
  font-size: 50%;
  padding: 0.25rem;
  margin: 0.375rem 0.1875rem 0;
}
button.is-small {
  font-size: 75%;
  padding: 0.375rem;
  margin: 0.5625rem 0.28125rem 0;
}
button.is-large {
  font-size: 125%;
  padding: 0.625rem;
  margin: 0.9375rem 0.46875rem 0;
}
button.is-xl {
  font-size: 150%;
  padding: 0.75rem;
  margin: 1.125rem 0.5625rem 0;
}
button:focus, button:hover {
  cursor: pointer;
  background-color: #7e7b80;
}

.buttons,
.button-group {
  display: flex;
  flex-direction: row !important;
  align-self: flex-start;
}
.buttons.expanded,
.button-group.expanded {
  align-self: stretch;
}
.buttons.expanded button,
.button-group.expanded button {
  flex: 1;
}

.buttons {
  flex-wrap: wrap;
}
.buttons > button {
  flex: 0;
}

.button-group {
  flex-wrap: nowrap;
  margin: 0.75rem 0.375rem 0;
}
.button-group > button {
  margin: 0 !important;
}
.button-group.expand button {
  flex: 1;
}
.button-group :first-child:not(:last-child),
.button-group :last-child:not(:last-child) {
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.button-group :first-child:not(:first-child),
.button-group :last-child:not(:first-child) {
  border-radius: 0 0.25rem 0.25rem 0 !important;
}
.button-group :not(:first-child):not(:last-child) {
  border-radius: 0;
}

.image {
  margin: 0.75rem 0.375rem 0;
  position: relative;
}
.image.is-1x4 {
  margin: 0;
  background-color: #f9f9f9;
  padding-top: 25%;
}
.image.is-1x4 img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.image.is-2x4 {
  margin: 0;
  background-color: #f9f9f9;
  padding-top: 50%;
}
.image.is-2x4 img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.image.is-3x4 {
  margin: 0;
  background-color: #f9f9f9;
  padding-top: 75%;
}
.image.is-3x4 img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.image.is-4x4 {
  margin: 0;
  background-color: #f9f9f9;
  padding-top: 100%;
}
.image.is-4x4 img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.image.is-5x4 {
  margin: 0;
  background-color: #f9f9f9;
  padding-top: 125%;
}
.image.is-5x4 img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.image.is-6x4 {
  margin: 0;
  background-color: #f9f9f9;
  padding-top: 150%;
}
.image.is-6x4 img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.image.is-7x4 {
  margin: 0;
  background-color: #f9f9f9;
  padding-top: 175%;
}
.image.is-7x4 img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.image.is-8x4 {
  margin: 0;
  background-color: #f9f9f9;
  padding-top: 200%;
}
.image.is-8x4 img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.image.is-1x3 {
  padding-top: 33.3333333333%;
  margin: 0;
}
.image.is-1x3 img {
  background-color: #f9f9f9;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.image.is-2x3 {
  padding-top: 66.6666666667%;
  margin: 0;
}
.image.is-2x3 img {
  background-color: #f9f9f9;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.image.is-3x3 {
  padding-top: 100%;
  margin: 0;
}
.image.is-3x3 img {
  background-color: #f9f9f9;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.image.is-4x3 {
  padding-top: 133.3333333333%;
  margin: 0;
}
.image.is-4x3 img {
  background-color: #f9f9f9;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.image.is-5x3 {
  padding-top: 166.6666666667%;
  margin: 0;
}
.image.is-5x3 img {
  background-color: #f9f9f9;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.image.is-6x3 {
  padding-top: 200%;
  margin: 0;
}
.image.is-6x3 img {
  background-color: #f9f9f9;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.image.is-rounded {
  border-radius: 100%;
}
.image.is-rounded img {
  border-radius: 100%;
}

img {
  max-width: 100%;
  height: auto;
}
img.cover {
  object-fit: cover;
  object-position: center;
}

.menu {
  margin: 0.75rem 0.375rem 0;
}
.menu .menu-items {
  display: flex;
  flex-direction: column;
}
.menu .menu-items .menu-item {
  display: flex;
  flex: 1;
}
.menu .menu-items .menu-item > a {
  flex: 1;
  margin: 0.09375rem;
  padding: 0.375rem;
  padding-left: 1rem;
}
.menu .menu-items .menu-item > a:hover, .menu .menu-items .menu-item > a:focus {
  background-color: #f9f9f9;
  cursor: pointer;
  outline: none;
}
.menu .menu-items .menu-title {
  padding: 0.375rem;
  padding-left: 1rem;
  font-weight: bold;
}
.menu .menu-items .sub-items {
  padding-left: 1rem;
  border-left: 1px solid #f9f9f9;
}

table.table {
  display: table;
  margin: 0.75rem 0.375rem 0;
  border-collapse: collapse;
  flex: 1;
  table-layout: fixed;
  overflow-x: scroll;
}
table.table tbody {
  display: table;
}
table.table tbody > :first-child {
  border-radius: 0.375rem 0.375rem 0 0 !important;
}
table.table.is-tablet {
  display: table;
}
@media screen and (max-width: calc(768px - 1px)) {
  table.table.is-tablet {
    display: flex;
  }
  table.table.is-tablet tbody {
    min-width: 768px !important;
  }
}
table.table.is-desktop {
  display: table;
}
@media screen and (max-width: calc(1024px - 1px)) {
  table.table.is-desktop {
    display: flex;
  }
  table.table.is-desktop tbody {
    min-width: 960px !important;
  }
}
table.table tbody {
  width: 100%;
  table-layout: fixed;
}
table.table tbody tr {
  width: 100%;
}
table.table th {
  font-weight: 500 !important;
}
table.table th.is-1 {
  width: 8.3333333333%;
}
table.table th.is-2 {
  width: 16.6666666667%;
}
table.table th.is-3 {
  width: 25%;
}
table.table th.is-4 {
  width: 33.3333333333%;
}
table.table th.is-5 {
  width: 41.6666666667%;
}
table.table th.is-6 {
  width: 50%;
}
table.table th.is-7 {
  width: 58.3333333333%;
}
table.table th.is-8 {
  width: 66.6666666667%;
}
table.table th.is-9 {
  width: 75%;
}
table.table th.is-10 {
  width: 83.3333333333%;
}
table.table th.is-11 {
  width: 91.6666666667%;
}
table.table th.is-12 {
  width: 100%;
}
table.table td,
table.table th {
  font-weight: 300;
  box-sizing: border-box;
  font-size: 1rem;
  border-bottom: 1px solid #f3efe3;
  text-align: left;
  padding: 0.5rem;
}

form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.form-item {
  height: 2rem;
  margin: 0.75rem 0.375rem 0;
  display: flex;
  flex: none !important;
  flex-direction: row !important;
}
.form-item button {
  margin: 0;
}
.form-item > :first-child,
.form-item > :last-child {
  border-radius: 0.25rem;
}
.form-item > :first-child:not(:last-child),
.form-item > :last-child:not(:last-child) {
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.form-item > :first-child:not(:first-child),
.form-item > :last-child:not(:first-child) {
  border-radius: 0 0.25rem 0.25rem 0 !important;
}
.form-item.full-width {
  align-self: stretch;
}
.form-item > .expanded {
  flex: 1;
}
.form-item > .add-on {
  display: flex;
  align-content: center;
  padding: 0.5rem;
  margin: 0 !important;
  background-color: #f3efe3;
}

input:not([type=file]) {
  appearance: none;
  line-height: 1;
  padding: 0.5rem;
  margin: 0;
  background-color: #fff !important;
  border-radius: 0;
  box-shadow: inset 0px 0px 0.0833333333rem 0px rgba(63, 60, 65, 0.5);
}
input:not([type=file]):hover, input:not([type=file]):focus {
  box-shadow: inset 0px 0px 0.0833333333rem 1px rgba(63, 60, 65, 0.5);
  outline: none;
}

.file-upload {
  border-radius: inherit;
  height: 2rem;
  overflow: hidden;
  display: flex;
  flex: 0;
}
.file-upload > label {
  font-weight: 300;
  border-radius: inherit;
  flex: 1;
  display: block;
  line-height: 1;
  padding: 0.5rem;
  color: black;
  box-shadow: inset 0px 0px 0.0833333333rem 0px rgba(63, 60, 65, 0.5);
  z-index: 0;
}
.file-upload > label:hover, .file-upload > label:focus {
  box-shadow: inset 0px 0px 0.0833333333rem 1px rgba(63, 60, 65, 0.5);
  outline: none;
  cursor: pointer;
}
.file-upload > [type=file] {
  position: absolute;
  height: 0.1px;
  width: 0.1px;
  top: 2rem;
  z-index: -1;
  padding: 0;
}

.radio,
.checkbox {
  display: flex;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.5rem;
  padding-left: 2.5rem;
  font-weight: 300;
}

.radio input,
.checkbox input {
  appearance: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0.1px;
  width: 0.1px;
}

.mark {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  box-shadow: inset 0px 0px 0.0833333333rem 0px rgba(63, 60, 65, 0.5);
}
.mark :after {
  transform-origin: center;
}

.radio .mark {
  border-radius: 100%;
}

.checkbox .mark {
  border-radius: inherit;
}

/* On mouse-over, add a grey background color */
.radio:hover,
.checkbox:hover {
  text-decoration: underline;
}
.radio:hover input ~ .mark,
.checkbox:hover input ~ .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 1px rgba(63, 60, 65, 0.8);
}

.mark:after {
  content: "";
  position: absolute;
}

.checkbox input:checked ~ .mark:after,
.radio input:checked ~ .mark:after {
  border-color: rgba(63, 60, 65, 0.8);
}

.checkbox .mark:after {
  margin-top: -0.1767rem;
  width: 0.5rem;
  height: 1rem;
  border: solid rgba(63, 60, 65, 0.1);
  border-width: 0 0.25rem 0.25rem 0;
  transform: rotate(45deg);
}

.radio .mark:after {
  width: 0.25rem;
  height: 0.25rem;
  border: solid rgba(63, 60, 65, 0.1);
  border-radius: 100%;
  border-width: 0.25rem;
}

.radio.is-main,
.checkbox.is-main {
  background-color: white !important;
  color: #100100 !important;
}
.radio.is-main .mark,
.checkbox.is-main .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 0px rgba(69, 35, 40, 0.5);
  border-color: rgba(69, 35, 40, 0.1);
}
.radio.is-main:hover,
.checkbox.is-main:hover {
  text-decoration-color: #452328;
}
.radio.is-main:hover input ~ .mark,
.checkbox.is-main:hover input ~ .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 1px rgba(69, 35, 40, 0.8);
}
.radio.is-main input:checked ~ .mark:after,
.checkbox.is-main input:checked ~ .mark:after {
  border-color: rgba(69, 35, 40, 0.8);
}

.radio.is-secondary,
.checkbox.is-secondary {
  background-color: white !important;
  color: #100100 !important;
}
.radio.is-secondary .mark,
.checkbox.is-secondary .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 0px rgba(120, 134, 107, 0.5);
  border-color: rgba(120, 134, 107, 0.1);
}
.radio.is-secondary:hover,
.checkbox.is-secondary:hover {
  text-decoration-color: #78866b;
}
.radio.is-secondary:hover input ~ .mark,
.checkbox.is-secondary:hover input ~ .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 1px rgba(120, 134, 107, 0.8);
}
.radio.is-secondary input:checked ~ .mark:after,
.checkbox.is-secondary input:checked ~ .mark:after {
  border-color: rgba(120, 134, 107, 0.8);
}

.radio.is-link,
.checkbox.is-link {
  background-color: white !important;
  color: #100100 !important;
}
.radio.is-link .mark,
.checkbox.is-link .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 0px rgba(49, 89, 205, 0.5);
  border-color: rgba(49, 89, 205, 0.1);
}
.radio.is-link:hover,
.checkbox.is-link:hover {
  text-decoration-color: #3159cd;
}
.radio.is-link:hover input ~ .mark,
.checkbox.is-link:hover input ~ .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 1px rgba(49, 89, 205, 0.8);
}
.radio.is-link input:checked ~ .mark:after,
.checkbox.is-link input:checked ~ .mark:after {
  border-color: rgba(49, 89, 205, 0.8);
}

.radio.is-warning,
.checkbox.is-warning {
  background-color: white !important;
  color: #100100 !important;
}
.radio.is-warning .mark,
.checkbox.is-warning .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 0px rgba(232, 164, 17, 0.5);
  border-color: rgba(232, 164, 17, 0.1);
}
.radio.is-warning:hover,
.checkbox.is-warning:hover {
  text-decoration-color: #e8a411;
}
.radio.is-warning:hover input ~ .mark,
.checkbox.is-warning:hover input ~ .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 1px rgba(232, 164, 17, 0.8);
}
.radio.is-warning input:checked ~ .mark:after,
.checkbox.is-warning input:checked ~ .mark:after {
  border-color: rgba(232, 164, 17, 0.8);
}

.radio.is-danger,
.checkbox.is-danger {
  background-color: white !important;
  color: #100100 !important;
}
.radio.is-danger .mark,
.checkbox.is-danger .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 0px rgba(205, 49, 49, 0.5);
  border-color: rgba(205, 49, 49, 0.1);
}
.radio.is-danger:hover,
.checkbox.is-danger:hover {
  text-decoration-color: #cd3131;
}
.radio.is-danger:hover input ~ .mark,
.checkbox.is-danger:hover input ~ .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 1px rgba(205, 49, 49, 0.8);
}
.radio.is-danger input:checked ~ .mark:after,
.checkbox.is-danger input:checked ~ .mark:after {
  border-color: rgba(205, 49, 49, 0.8);
}

.radio.is-success,
.checkbox.is-success {
  background-color: white !important;
  color: #100100 !important;
}
.radio.is-success .mark,
.checkbox.is-success .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 0px rgba(67, 205, 49, 0.5);
  border-color: rgba(67, 205, 49, 0.1);
}
.radio.is-success:hover,
.checkbox.is-success:hover {
  text-decoration-color: #43cd31;
}
.radio.is-success:hover input ~ .mark,
.checkbox.is-success:hover input ~ .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 1px rgba(67, 205, 49, 0.8);
}
.radio.is-success input:checked ~ .mark:after,
.checkbox.is-success input:checked ~ .mark:after {
  border-color: rgba(67, 205, 49, 0.8);
}

.radio.is-white,
.checkbox.is-white {
  background-color: white !important;
  color: #100100 !important;
}
.radio.is-white .mark,
.checkbox.is-white .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 0px rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}
.radio.is-white:hover,
.checkbox.is-white:hover {
  text-decoration-color: #fff;
}
.radio.is-white:hover input ~ .mark,
.checkbox.is-white:hover input ~ .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 1px rgba(255, 255, 255, 0.8);
}
.radio.is-white input:checked ~ .mark:after,
.checkbox.is-white input:checked ~ .mark:after {
  border-color: rgba(255, 255, 255, 0.8);
}

.radio.is-black,
.checkbox.is-black {
  background-color: white !important;
  color: #100100 !important;
}
.radio.is-black .mark,
.checkbox.is-black .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 0px rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}
.radio.is-black:hover,
.checkbox.is-black:hover {
  text-decoration-color: #000;
}
.radio.is-black:hover input ~ .mark,
.checkbox.is-black:hover input ~ .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 1px rgba(0, 0, 0, 0.8);
}
.radio.is-black input:checked ~ .mark:after,
.checkbox.is-black input:checked ~ .mark:after {
  border-color: rgba(0, 0, 0, 0.8);
}

.radio.is-light,
.checkbox.is-light {
  background-color: white !important;
  color: #100100 !important;
}
.radio.is-light .mark,
.checkbox.is-light .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 0px rgba(243, 239, 227, 0.5);
  border-color: rgba(243, 239, 227, 0.1);
}
.radio.is-light:hover,
.checkbox.is-light:hover {
  text-decoration-color: #f3efe3;
}
.radio.is-light:hover input ~ .mark,
.checkbox.is-light:hover input ~ .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 1px rgba(243, 239, 227, 0.8);
}
.radio.is-light input:checked ~ .mark:after,
.checkbox.is-light input:checked ~ .mark:after {
  border-color: rgba(243, 239, 227, 0.8);
}

.radio.is-dark,
.checkbox.is-dark {
  background-color: white !important;
  color: #100100 !important;
}
.radio.is-dark .mark,
.checkbox.is-dark .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 0px rgba(63, 60, 65, 0.5);
  border-color: rgba(63, 60, 65, 0.1);
}
.radio.is-dark:hover,
.checkbox.is-dark:hover {
  text-decoration-color: #3f3c41;
}
.radio.is-dark:hover input ~ .mark,
.checkbox.is-dark:hover input ~ .mark {
  box-shadow: inset 0px 0px 0.0833333333rem 1px rgba(63, 60, 65, 0.8);
}
.radio.is-dark input:checked ~ .mark:after,
.checkbox.is-dark input:checked ~ .mark:after {
  border-color: rgba(63, 60, 65, 0.8);
}

/*# sourceMappingURL=index.css.map */
