<div class="splash is-dark image is-100">
    <img src="../../assets/splash.jpg">
    <div class="container">
        <div class="content">
            <div class="divider is-white"></div>
            <div class="columns is-tablet">
                <div class="column is-4 is-offset-4">
                    <div class="image">
                        <img src="../../assets/archipelag.png">
                    </div>
                </div>
            </div>
            <p class="font-size-4 center-text">Archipelago</p>
            <div class="divider is-white"></div>
        </div>
    </div>
</div>